torch
torchvision
numpy
pandas
matplotlib
scikit-learn
scikit-image
opencv-python
tqdm
lime
# shap
albumentations
tensorboard
pytest
Pillow
jupyterlab
seaborn
flake8
black
isort
kaggle
mahotas
grad-cam